@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C'Farma</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head> 
<body>
    @using Microsoft.AspNetCore.Http
    @using Newtonsoft.Json;

    @{
        var existeUser = @Context.Session.GetString("usuario");
        Usuario userLogeado = null;

        if (existeUser != null)
        {
            userLogeado = JsonConvert.DeserializeObject<Usuario>(existeUser);
        }
    }

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-columna-izq sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Administrador" asp-action="Index">
                <img src="~/img/cfarma.png" height="50" width="50">
                <div class="sidebar-brand-text mx-3">C'Farma Admi</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Administrador" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de control</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                ROLES
            </div>

            <!-- Nav Items - Clientes -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCli"
                   aria-expanded="true" aria-controls="collapseCli">
                    <!-- Icono de usuarios -->
                    <i class="fas fa-fw fa-user-cog"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseCli" class="collapse" aria-labelledby="headingCli" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Acciones</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListaClientes">Lista</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Repartidores -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRep"
                   aria-expanded="true" aria-controls="collapseRep">
                    <i class="fas fa-fw fa-truck-loading"></i>
                    <span>Repartidores</span>
                </a>
                <div id="collapseRep" class="collapse" aria-labelledby="headingRep"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Acciones</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListaRepartidores">Listar</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="VisAddRepartidor">Añadir</a>
                        <h6 class="collapse-header">Turnos</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListaTurnos">Listar</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="VisAsignarTurnos">Asignar</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Administradores -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmi"
                   aria-expanded="true" aria-controls="collapseAdmi">
                    <!-- Icono de usuarios -->
                    <i class="fas fa-fw fa-user-shield"></i>
                    <span>Administradores</span>
                </a>
                <div id="collapseAdmi" class="collapse" aria-labelledby="headingAdmi" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Acciones</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListaAdmis">Listar</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="VisAddAdmi">Añadir</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading 2-->
            <div class="sidebar-heading">
                Inventario
            </div>

            <!-- Nav Item - Productos -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Productos</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listar</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4">Cuidado Personal</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="2">Infantil</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="3">Nutrición</a>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="1">Salud</a>
                        <!--  <div class="collapse-divider"></div>
                         <h6 class="collapse-header">Acciones</h6>
                        <a class="collapse-item" asp-controller="Administrador" asp-action="FormInsertProduct">Añadir</a>-->

                    </div>
                </div>

            </li>


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @{
                                    if (userLogeado != null)
                                    {
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                            @userLogeado.nombre
                                        </span>
                                    }
                                }

                                <img class="img-profile rounded-circle"
                                     height="20" width="20" src="~/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <!--<a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                    </a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->





                @RenderBody()
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; C'Farma 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccion "Cerrar Sesión" a continuación si desear finalizar sesión</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <form action="/Home/logout" method="get">
                        <!-- <a class="btn btn-primary" href="login.html">Cerrar Sesión</a>-->
                        <button type="submit" class="btn btn-primary">Cerrar Sesion</button>
                    </form>
                </div>


            </div>
        </div>
    </div>




    <!-- All script -->
    <!-- Bootstrap core JavaScript-->
    <!-- <script src="~/vendor/jquery/jquery.min.js"></script>-->
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    <link href="~/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="~/jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>


    <!-- Owl carousel
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script> -->
    @RenderSection("Scripts", required: false)

</body>
</html>
