
@{
    ViewData["Title"] = "Productos - Sakud";
    if (TempData["error"] is null)
    {
        TempData["error"] = "nada";
    }

}
<div class="container">


    <h3 class="text-center font-weight-ligh" style="font-family:Cambria ; color:darkcyan">
        Productos - Salud <i class="fas fa-capsules"></i>
    </h3>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!--  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Problemas dérmicos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4051">Antibióticos</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4053">Antimicóticos</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4052">Cicatrizantes</a>
                    </div>
                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Problemas digestivos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4049">Antiácidos</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4048">Antibióticos</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4050">Antiflatulentos</a>
                        <!-- <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4046">Antihemorroidales</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4043">Antiparasitario</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4047">Digestivo</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4044">Laxantes</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4045">Reposición de electrolitos</a>-->

                    </div>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Problemas hormonales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4061">Insulinas</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4060">Tiroides</a>

                    </div>
                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Problemas respiratorios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4054">Antigripales</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4056">Dolor de garganta</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4055">Tos y frío</a>

                    </div>

                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Problemas sanguíneos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4057">Antianémicos</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4058">Anticoagulantes</a>
                        <a class="dropdown-item" asp-controller="Administrador" asp-action="ListarTipoProductos" asp-route-id="4059">Antihemorrágicos</a>

                    </div>
                </li>-->

            </ul>
        </div>
    </nav>
</div>
@{
    var flEstado = ViewData["listaTipoProducto"];


    if (flEstado != null)
    {
        <h5 class="text-center font-weight-ligh" style="font-family:Cambria ; color:darkcyan">
            @ViewData["nombreSupraCat"] >
            @ViewData["nombreCategoria"] >
            <b>@ViewData["nombreSubcategoria"] </b>
        </h5>
        <h6><a asp-controller="Administrador" asp-action="VisAddNuevProd" asp-route-nomSubc="@ViewData["nombreSubcategoria"]"><button type="button" class="btn btn-success">Añadir producto</button></a></h6>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Imagen</th>
                    <th scope="col" class="text-center">Codigo</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Precio</th>
                    <th scope="col" class="text-center">Stock</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["listaTipoProducto"] as List<Producto>)
                {
                    <tr>
                        <td>
                            <img src="~/img/PRODUCTOS/@item.imagen"
                                 width="60" height="70" onerror="src='/img/sinImagen.jpg'" />
                        </td>
                        <td scope="row">@Html.DisplayFor(modelItem => item.idpt)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                        <td>
                            <a asp-controller="Administrador" asp-action="VistaEditarProducto" asp-route-id="@item.idpt">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a onclick="confirmarDelete(@item.idpt)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>


                    </tr>


                }

            </tbody>
        </table>
    }

}

<script type="text/javascript">

    function confirmarDelete(id) {
        swal({
            title: "Eliminar",
            text: "¿Está seguro de eliminar el producto con id: " + id,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {

                if (willDelete) {
                    window.location.href = "/Administrador/EliminarProducto?id=" + id;

                    /* swal("Eliminado correctamente", {
                         icon: "success",

                     });*/
                } else {

                    //swal("No c eliminó");

                }
            });

    }


</script>

@{
    if (@TempData["error"].Equals("failure"))
    {
        <script type="text/javascript">

            swal({
                title: "No se pudo eliminar",
                text: "El producto seleccionado tiene pedidos registrados",
                icon: "warning",
            })

        </script>


    }
    if (@TempData["error"].Equals("success"))
    {
        <script type="text/javascript">

            swal({
                title: "Eliminación exitosa",
                text: "El producto seleccionado ha sido eliminado",
                icon: "success",
            })

        </script>
    }
}